<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:ital@0;1&family=Rubik&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/cpval.jpg') }}">
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script>
        // Obtener la API key desde Flask
        var mapApiKey = "{{ map_api_key }}";
      // Agregar la API key al script de Google Maps
        var googleMapsScript = document.createElement('script');
        googleMapsScript.src = 'https://maps.googleapis.com/maps/api/js?key=' + mapApiKey + '&libraries=places&callback=initMap';
        googleMapsScript.async = true;
        googleMapsScript.defer = true;
        document.head.appendChild(googleMapsScript);
  </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Formulario de Tasación</title>
</head>
<body class ="background">
    <!-- Barra horizontal con el logo -->
    <div class="navbar">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo de la empresa">
        <a href="https://cpval.cl" class="portal-button">Inicio</a>
        <a href="https://cpval.cl/propiedades/?refresh=on" class="portal-button">Propiedades</a> 
        <a href="https://cpval.cl/corredores/" class="portal-button">Corredores</a> 
        <a href="https://cpval.cl/encargo/" class="portal-button">Nosotros</a> 
        <a href="https://www.cursoscpval.cl" class="portal-button" target="_blank">Cursos</a> 
        <a href="https://cpval.cl/contacto/" class="portal-button">Contacto</a>
        <a href="/historial" class="portal-button">Historial</a>

    </div>


    <div class="contenedor-de-contenido"> 
        <div class="tarjeta-formulario">
            <form action="/procesar_tasacion" method="POST">
                <h1>Formulario de Tasación</h1>
                <div class="form-container">
                    <div class="form-column left-column">
                        <label for="direccion">Dirección:</label>
                        <input type="text" id="place_input" name="direccion" required>
                        <label for="dormitorio">Dormitorios:</label>
                        <input type="number" name="dormitorio" required>
                        <label for="baños">Baños:</label>
                        <input type="number" name="baños" required>
                        <label for="estacionamientos">Estacionamientos:</label>
                        <input type="number" name="estacionamientos" required>
                        <label for="area_total">Área Total (m²):</label>
                        <input type="number" name="area_total" required>
                        <label for="area_construida">Área Construida (m²):</label>
                        <input type="number" name="area_construida" required>
                        
                    </div>
                
                    <div class="form-column right-column">
                        <label for="region">Región:</label>
                        <select name="region">
                            <option value="Valparaiso">Region de Valparaiso</option>
                        </select>
                        <label for="comuna">Comuna:</label>
                        <select name="comuna">
                            <option value="Concon">Concon</option>
                            <option value="Limache">Limache</option>
                            <option value="Valparaiso">Valparaiso</option>
                            <option value="Villa Alemana">Villa Alemana</option>
                            <option value="Quilpue">Quilpue</option>
                            <option value="Quillota">Quillota</option>
                            <option value="Viña">Viña del mar</option>
                        </select>
                        <label for="operacion">Operación:</label>
                        <select name="operacion">
                            <option value="venta">Venta</option>
                        </select>
                        <label for="tipo_propiedad">Tipo de Propiedad:</label>
                        <select name="tipo_propiedad">
                            <option value="casa">Casa</option>
                            <option value="depto">Departamento</option>
                        </select>
                        <input type="hidden" name="fecha_ingreso" value="{{ fecha_actual }}">
                        <label for="condicion">Condición:</label>
                        <select name="condicion">
                            <option value="nuevo">Nuevo</option>
                            <option value="usado">Usado</option>
                            <option value="remo">Remodelada</option>
                        </select>
                    </div>
                </div>
                

                <input type="hidden" id="longitud" name="longitud">
                <input type="hidden" id="latitud" name="latitud">
            
                <div class="button-container">
                    <input type="submit" value="Calcular Tasación">
                </div>
                <br>
                <div class= "tasacion" id="mensaje"></div>
        
                <br>    
                <div id="flash-message" class="flash-messages">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="flash-message">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>
                <br>        
                <br>                
            </form>
        </div>
        <div class=" tarjeta-mapa">
            <div class="mapa" id="map"></div>
        </div>
        
    </div> 
    <br>
    <br>
    <footer>
        <div class="image-container">
            <img src="static/images/logo_cpval_footernuevo.png" style: width=126 height=52 alt="footer cpval">
        </div>
        <p>© 2023 Cpval Todos los derechos reservados. Powered by Distrito Inmobiliario</p>
    </footer>
    <script 
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABton8_kMPgKbNjayayTi7LW9QyLJ-fnk&libraries=places&callback=initMap">
    </script>


    <script>
        const mapDiv = document.getElementById("map");
        const input = document.getElementById("place_input")
        const chileCoords = {lat:-26.703418148692126, lng:-70.27302958914181};
        let map;
        let marker;
        let autocomplete;
        function initMap(){
            map = new google.maps.Map(mapDiv, {
                center:chileCoords,
                zoom:6,
            });
            marker = new google.maps.Marker({
                position:chileCoords,
                map: map,
            });
            
            initAutocomplete();
        }
        function initAutocomplete(){
            autocomplete = new google.maps.places.Autocomplete(input)
            autocomplete.addListener('place_changed', function(){
                const place = autocomplete.getPlace();
                map.setCenter(place.geometry.location);
                marker.setPosition(place.geometry.location);

                // Obtener la longitud y latitud
                const longitud = place.geometry.location.lng();
                const latitud = place.geometry.location.lat();

                // Actualizar los campos ocultos en el formulario
                document.getElementById("longitud").value = longitud;
                document.getElementById("latitud").value = latitud;
                // Aumentar el zoom a 10
                map.setZoom(15);
            });
            // Escuchar el evento input del campo de dirección
            input.addEventListener('input', function() {
                if (input.value.trim() === '') {
                    // Restablecer el mapa a las coordenadas de Chile y al zoom 6
                    map.setCenter(chileCoords);
                    map.setZoom(6);
                }
            });
            
        }
    </script>





    <script>
        $(document).ready(function () {
            $('form').on('submit', function (event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/calcular_tasacion',
                    data: $('form').serialize(),
                    success: function (data) {
                        $('#mensaje').html(data.mensaje_respuesta);
                    }
                });
            });
        });
    </script>

    
</body>
</html>

